<div id="animal-detail"
  <div class="animal-detail"

    <p>Animal Name: <%= @animal.name %></p>
    <p>Admission Date: <%= @animal.admission_date %></p>
    <p>Type: <%= @animal.type %></p>
    <p>Species: <%= @animal.species %></p>
    <p>Available for Adoption: <%= @animal.available %></p>

    <% for owner in @owners %>
    <p><%= "Owner Name:" %> <%= owner.name %></p>
    <p><a href="/owners/<%= owner.id %>">Show Owner </a></p>
    <% end %>

    <div id="pictures">
      <img src="<%=@animal.image_url%>"
      width ="500px"
      class = "pictures"/>
    </div>

  </div>
</div>
